[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/NvChad/NvChad.git
	ignore = dirty
[submodule ".config/zsh/zgen"]
	path = .config/zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
	ignore = dirty
[submodule ".config/btop/themes"]
	path = .config/btop/themes
	url = https://github.com/catppuccin/btop.git
	ignore = dirty
[submodule ".config/dwm"]
	path = .config/dwm
	url = https://github.com/TurboCheetah/dwm.git
	ignore = dirty
[submodule ".config/slstatus"]
	path = .config/slstatus
	url = https://github.com/TurboCheetah/slstatus.git
