[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/NvChad/NvChad.git
	ignore = dirty
[submodule ".config/dwm"]
	path = .config/dwm
	url = https://github.com/TurboCheetah/dwm.git
	ignore = dirty
[submodule ".config/slstatus"]
	path = .config/slstatus
	url = https://github.com/TurboCheetah/slstatus.git
[submodule ".config/mpv"]
	path = .config/mpv
	url = https://github.com/TurboCheetah/mpv.git
